{{#animated-container}}
  {{#animated-bind 'not-index-route' use=transition duration=3000}}
    <div style="background: #eee9d0;">
      <ul>
        <li>List item 0</li>
        <li>List item 1</li>
        <li>List item 2</li>
        <li>List item 3</li>
        <li>List item 4</li>
        <li>List item 5</li>
        <li>List item 6</li>
        <li>List item 7</li>
        <li>List item 8</li>
        <li>List item 9</li>
        <li>List item 10</li>
        <li>List item 11</li>
        <li>List item 12</li>
        <li>List item 13</li>
        <li>List item 14</li>
        <li>List item 15</li>
        <li>List item 16</li>
        <li>List item 17</li>
        <li>List item 18</li>
        <li>List item 19</li>
        <li>List item 20</li>
        <li>List item 21</li>
        <li>List item 22</li>
        <li>List item 23</li>
        <li>List item 24</li>
        <li>List item 25</li>
        <li>List item 26</li>
        <li>List item 27</li>
        <li>List item 28</li>
        <li>List item 29</li>
        <li>List item 30</li>
        <li>List item 31</li>
        <li>List item 32</li>
        <li>List item 33</li>
        <li>List item 34</li>
        <li>List item 35</li>
        <li>List item 36</li>
        <li>List item 37</li>
        <li>List item 38</li>
        <li>List item 39</li>
      </ul>

      {{#link-to 'index'}}Go to index{{/link-to}}
    </div>
  {{/animated-bind}}
{{/animated-container}}